backports.functools-lru-cache==1.5
cffi==1.11.5
cycler==0.10.0
Cython==0.27.3
decorator==4.2.1
easydict==1.7
kiwisolver==1.0.1
matplotlib==2.2.0
mpmath==1.0.0
networkx==2.1
nltk==3.2.5
numpy==1.14.1
opencv-python==3.4.0.12
pathlib==1.0.1
Pillow==5.0.0
pycparser==2.18
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
PyWavelets==0.5.2
pyyaml>=4.2b1
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
subprocess32==3.2.7
sympy==1.1.1
Theano==1.0.1
torch==0.3.1
torchvision==0.2.0
